 <section class="mt-4">
    <div class="container">
        <form id="companyAddForm" action="/company/add" method="post" style="background-color: rgb(227 216 223 / 15%);" class="p-5">
            <a href="/company/all" class="btn btn-sm btn-success mb-3" type="button"><i class="fa fa-arrow-circle-left"></i> All Companies</a>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 form-group">
                   <label for="companyName">Company Name</label> 
                   <input type="text" name="companyName" class="form-control" placeholder="Enter Company Name" />    
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 form-group">
                    <label for="companyOfficalEmail">Company Offical Email</label> 
                    <input type="email" name="companyOfficalEmail" class="form-control" placeholder="Enter Company Offical Email." />    
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 form-group">
                    <label for="companyOfficalContact">Company Offical Contact</label> 
                    <input type="text" name="companyOfficalContact" class="form-control" placeholder="Enter Company Offical Contact." />    
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 form-group">
                    <label for="">Company Location</label>
                    <textarea name="companyLocation" cols="30" rows="10" class="form-control" placeholder="Enter Company Location"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-sm btn-primary mt-3">ADD</button>
        </form>
    </div>
</section>
