 <section class="mt-4">
    <div class="container">
        <a href="/project/all" class="btn btn-success btn-sm mb-3"><i class="fa fa-arrow-circle-left"></i> All Projects</a>
        <form id="projectAddForm" action="/project/add" method="post" style="background-color: rgb(227 216 223 / 15%);" class="p-5">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 form-group">
                   <label for="projectName">Project Name</label> 
                   <input type="text" name="projectName" class="form-control" placeholder="Enter Project Name" required />    
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
                    <label for="companyId">Select Related Company </label>
                    <select name="companyId" id="companyId" required class="form-control">
                        <option value="">Select Company</option>
                        <% companies.forEach((item)=>{%>
                            <option value="<%= item._id %>"><%= item.companyName %></option>
                        <%})%>
                    </select>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 form-group">
                    <label for="projectDescriptions">Project Description</label>
                    <textarea name="projectDescription" required cols="30" rows="10" class="form-control" placeholder="Enter Project Description"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-sm btn-primary mt-3">ADD</button>
        </form>
    </div>
</section>
