<section class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <a href="/project/add" class="btn btn-success btn-sm mb-3"><i class="fa fa-plus"></i> Add Projects</a>
                <table class="text-center table table-hover table stripped table-sm table-bordered">
                    <thead class="bg-primary text-light align-middle">
                        <tr>
                            <th>Projects Name</th>
                            <th>Company Name</th>
                            <th>Total Prospects</th>
                            <th>Status</th>
                            <th>Contacts Emails</th>
                            <th>Contact Numbers</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>